{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Govoyage</title>

    <link rel="stylesheet" href="{% static 'go/css/style.css' %}">
</head>
<body id="home">
    <header>
        <nav>
            <div>logo</div>
            <ul>
                <li><a href="{% url 'index' %}"> Accueil </a></li>
                <li><a href="{% url 'random' %}">Aléatoire</a></li>
                <li><input type="search" id="site-search"/></li>
                <li><button>Search</button></li>
            </ul>
        </nav>
    </header>

    <section id="info">
        <div class="container">
            <div class="row">
                <table style="width:90%">
                    <tr>
                        <th style="width:10%">TrainN°</th>
                        <th>Destination</th> 
                        <th style="width: 15%">Heure</th>
                        <th style="width: 15%">Voie</th>
                    </tr>
                    {% for i in trains %}
                    <tr>
                      <td>{{ i.trainID }}</td>
                      <td> {{ i.to }} </td>
                      <td> {{ i.time }} </td>
                      <td> {{ i.voie }} </td>
                      <td><a href="/Govoyage/show/{{ i.trainID }}"> Voir </a></td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>
            </div>
        </div>
    </section>
</body>
</html>