{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Govoyage</title>

    <link rel="stylesheet" href="{% static 'go/css/style.css' %}">
</head>
<body id="home">
    <header>
        <nav>
            <div ><a style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #C0C0C0;" href="{% url 'index' %}">Govoyage</a></div>
            <ul>
                <li><a href="{% url 'index' %}"> Accueil </a></li>
                <li><a href="{% url 'random' %}">Aléatoire</a></li>
                <li><a href="{% url 'add_train' %}">Ajouter un train</a></li>
                <form action="{% url 'search_train' %}" method="GET">
                    <input type="search" name="train_id" id="site-search"/>
                    <button type="submit">Rechercher</button>
                </form>
            </ul>
        </nav>
    </header>

    <section id="info">
        <div class="container">
            <div class="row">
                <table style="width:75%">
                    <tr style="background-color: #333333;">
                        <th style="width:5%">TrainN°</th>
                        <th>Destination</th> 
                        <th style="width: 15%">Heure</th>
                        <th style="width: 10%">Voie</th>
                    </tr>
                    {% for i in trains %}
                    <tr>
                      <td>{{ i.trainID }}</td>
                      <td> {{ i.to }} </td>
                      <td> {{ i.time }} </td>
                      <td><span style="background-color:#C0C0C0; padding: 5px; border-radius: 5px; color: black;">{{ i.voie }}</span></td>
                      <td><a href="/Govoyage/show/{{ i.trainID }}"> Voir </a></td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>
            </div>
        </div>
    </section>
</body>
</html>