* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#home {
    background-image: url(../img/pexels-dmitry-alexandrovich-1771670.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.865);
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    padding: 5px;
}

#info {
    padding-top: 90px;
}

.container{
    height: 300px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table, th, td {
    border:3px solid black;
    border-collapse: collapse;
    text-align: center;
    backdrop-filter: blur(3px);
    padding: 10px;
    color: white;
    font-size: 1.1rem;
}
